<div class="datepicker-range">
	<md-input-container class="md-block">
		<label for="" class="md-label">{{datapickerRangeName}}</label>
		<md-select ng-model="datepickerRange.select" ng-change="setRangePeriod()">
			<md-option ng-value="period.value" ng-repeat="period in periods">{{period.name}}</md-option>
		</md-select>
	</md-input-container>
	<div class="row" layout="column" layout-gt-sm="row" ng-show="datepickerRange.select == 'other'">
		<md-datepicker ng-if="hideIcons==='all'" md-hide-icons="all" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		<md-datepicker ng-if="hideIcons==='calendar'" md-hide-icons="calendar" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		<md-datepicker ng-if="hideIcons==='triangle'" md-hide-icons="triangle" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		<md-datepicker ng-if="!hideIcons" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		
		<span class="md-label md-label-middle" >{{ 'FORM.UNTIL' | translate }}</span>
		
		<md-datepicker ng-if="hideIcons==='all'" md-hide-icons="all" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		<md-datepicker ng-if="hideIcons==='calendar'" md-hide-icons="calendar" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		<md-datepicker ng-if="hideIcons==='triangle'" md-hide-icons="triangle" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
		<md-datepicker ng-if="!hideIcons" class="md-block" ng-change="createRangePeriod()" ng-model="calendar.start" md-max-date="calendar.end" ></md-datepicker>
	</div>
</div>